<html>
  <head>
    <title>apkupload</title>
    <link rel="stylesheet" href="/s/style.css"　type="text/css">
  </head>
<body>
<h1 class="top_title">Upload your .apk to limited people</h1>

<div class="top_desc">
This is small web application to upload your .apk to limited
people. IP address based limitation and Google account based
limitation are available.
It is useful when testing your android application.
<p>
Uploaded files will be removed after 30 days since last access.
<p>
This is open-source software. Please set up your own site if you want.
The codes can be downloaded
by <a href="https://github.com/tkawachi/apkuploader">
https://github.com/tkawachi/apkuploader</a>.
</div>
<div class="top_login">
<a href="{{ login_url }}">Login with your Google account</a>
</div>
</body>
</html>
